{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-comptable" content="IE=edge">
    <meta name="viewport" content="width=device=width,initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="{% static '/css/style.css' %}">
</head>

<body>
<form class="p-3 mt-3" action="/" method="POST">
    {% csrf_token %}
    <div class="wrapper">
        <div class="logo">
            <img src="{% static '/images/logo.png' %}" alt="">
        </div>
        <div class="text-center mt-4 name">
            Kimchi
        </div>
            <div class="form-field d-flex align-items-center">
                <span class="far fa-user"></span>
                <input type="text" name="name" id="userName" placeholder="Username">
            </div>
            <div class="form-field d-flex align-items-center">
                <span class="fas fa-key"></span>
                <input type="email" name="email" id="email" placeholder="Email">
            </div>
<!--             <div class="form-field d-flex align-items-center">-->
<!--                <span class="fas fa-key"></span>-->
<!--                <input type="text" name="phone" id="phone" placeholder="Phone Number">-->
<!--            </div>-->
            <div class="form-field d-flex align-items-center">
                <span class="fas fa-key"></span>
                <input type="password" name="password" id="pwd" placeholder="Password">
            </div>
            <button class="btn mt-3">Register</button><br/>
        <div class="text-center fs-6">
            Already having account?
            <a href="login">Login</a>
        </div>
    </div>
    </form>
</body>

</html>